@import "src/assets/sass/variables";

.projectBox {
  display: flex;
  width: 100%;
  padding: 0 30px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tiles {
  width: 450px;
  margin-bottom: 20px;

  h1 {
    margin: 0 0 5px;
    padding: 0;
    text-align: center;
    color: $accentText;
  }

  p {
    margin: 0;
    padding: 5px 0;
    font-size: 17px;
    color: $accentText;
    text-align: justify;

    &::first-letter {
      padding-left: 20px;
    }
  }

  .tile {
    display: inline-block;
    margin: 10px;
    text-align: left;
    opacity: 0.99;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 5%);
    border: 3px solid $primaryText;
    transition: all 0.3s linear;

    &:hover {
      border: 3px solid $accentText;
      transition: all 0.5s linear;

      .projectStatus {
        opacity: 0;
        transition: all 0.5s linear;
      }
    }

    .projectStatus {
      display: flex;
      flex-direction: column;
      place-content: center center;
      border: 2px solid $primaryText;
      position: absolute;
      left: 10px;
      top: 10px;
      width: 95px;
      height: 80px;
      background-color: #575252;
      border-radius: 15px;
      font-weight: 600;
      font-size: 14px;
      color: $secondaryTextHover;
      transition: all 0.5s linear;

      img {
        width: 50px;
        height: 50px;
        margin: 0 auto;
      }

      span {
        margin: 0 auto;
      }
    }

    img {
      display: block;
      max-width: 100%;
      backface-visibility: hidden;
    }

    .details {
      font-size: 16px;
      padding: 20px;
      color: $primaryText;
      position: absolute;
      bottom: 0;
      left: 0;
      transition-duration: 0.4s;
      transition-delay: 0s;

      span {
        display: block;
        opacity: 0;
        position: relative;
        top: 100px;
        transition-property: top, opacity;
        transition-duration: 0.4s;
        transition-delay: 0s;
      }

      .title {
        line-height: 1;
        font-weight: 600;
        font-size: 25px;
        margin-bottom: 15px;
        color: #ffb400;
      }
    }
  }
}

.projectImage {
  border-radius: 20px;
  width: 450px;
  height: 250px;
  background-size: cover;
}

.details {
  width: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.notLink {
  font-size: 15px;
  text-decoration: none;
  color: $primaryText;
}

.link {
  margin-left: 5px;
  font-size: 15px;
  text-decoration: none;
  color: $primaryText;

  &:hover {
    color: #ffb400;
    transition: 0.3ms;
  }
}

.icon {
  color: $accentText;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tiles .tile .details .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
  opacity: 1;
}

.tiles .tile:focus::before,
.tiles .tile:focus span,
.tiles .tile:hover::before,
.tiles .tile:hover span {
  opacity: 1;
}

.tiles .tile:focus::before,
.tiles .tile:focus span,
.tiles .tile:hover::before,
.tiles .tile:hover .details {
  background: rgb(17 16 16 / 80%);
}

.tiles .tile:focus::before,
.tiles .tile:hover::before {
  top: 50%;
}

.tiles .tile:focus span,
.tiles .tile:hover span {
  top: 0;
}

.tiles .tile:focus .title,
.tiles .tile:hover .title {
  transition-delay: 0.15s;
}

.tiles .tile:focus .info,
.tiles .tile:hover .info {
  transition-delay: 0.35s;
}

@media (width <= 1200px) {
  .projectBox {
    flex-direction: column;
    align-items: center;
  }

  .tiles {
    width: 400px;
  }
}

@media (width <= 600px) {
  .tiles {
    width: 320px;
    margin-bottom: 10px;
  }

  .projectImage {
    width: 320px;
    height: 180px;
  }

  .projectBox {
    padding: 0;
    flex-direction: row;
  }
}
