.footer {
    background-color: #313454;
    padding: 20px 0;
    width: 1200px;
    margin: 0 auto;
}

.copyright__text {
    text-align: center;
    font-size: 18px;
    color: #797b8a;
}

.copyright__text span {
    color: #fff;
}

.copyright__text .copyright__header {
    color: #d32828;
}