@import "../../../assets/sass/variables";

.resumeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 30px;
  .resumeBtnBox {
    display: flex;
    justify-content: center;
    width: 80%;
    padding-right: 24px;
  }
  .resumeComponentBox {
    display: flex;
    width: 90%;
    border: 1px solid $border;
    margin-left: 24px;
    min-height: 660px;
  }
}


.resumeBtn {
  line-height: 110%;
  text-transform: uppercase;
  margin: 24px 0 24px 10px;
  display: flex;
  align-items: center;
  outline: none;
  justify-content: center;
  align-content: center;
  background-color: $bgFourth;
  border: 1px solid $line;
  width: 200px;
  font-size: 15px;
  height: 40px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .5px;
  color: $accentText;
  cursor: pointer;
  border-radius: 3px;

  &:hover {
    background-color: $bgThird;
    border: 1px solid $accentText;
  }

}

.active {
  font-weight: 700;
  background-color: $accentText;
  border: 1px solid $accentText;
  color: $primaryText;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $accentTextHover;
    border: 1px solid $accentTextHover;
  }

}

@media (max-width: 600px) {


  .resumeBox {
    flex-direction: column;
    .resumeBtnBox {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 0;
    }
    .resumeComponentBox {
      display: flex;
      width: 100%;
      margin-left: 0px;
    }
  }

}